* {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont',
                 Verdana, Helvetica, sans-serif;
}

a {
    color: inherit;
}

body {
    color: #990000;
}

.button {
    width: 200px;
    padding: 15px 20px;
    font-size: 20px;
    background-color: #990000;
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button:hover {
    background-color: #CC8080;
}

div#loading {
    display: none;
    img {
        width: 50px;
    }
}

div.body-container {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 70px;
}

div.footer-container {
    font-size: 14px;
    text-align: center;
    margin-bottom: 150px;
}

div.input-fields {
    margin-bottom: 20px;
}

div.inline-image-icons > h2, img {
    display: inline;
}

div.pie-charts {
    display: block;
}

div.wrapped-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* h2.mixed-size {
    line-height: 175%;
} */

hr.dotted {
    border-top: 1px dotted #990000;
    width: 100%;
}

img.logo {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.list {
    padding: 0;
    list-style-position: inside;
}

.login-form {
    font-size: 16px;
    margin-bottom: 30px;
}

#pie-chart {
    margin-top: 20px;
    margin-bottom: 20px;
}

span.bigger {
    font-size: 60px;
    text-align: center;
}

.text-input {
    border: 1px solid #990000;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 10px;
}

.wordcloud {
    margin-bottom: 20px;
}

@media (min-width: 640px) {
    div.body-container {
        width: 50%;
    }
}

@media (min-width: 1280px) {
    div.body-container {
        width: 25%;
    }

    hr.dotted {
        border-top: 1px dotted #990000;
        width: 100%;
    }

    img.logo {
        width: 250px;
        height: auto;
        margin-bottom: 40px;
    }
}
