<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | AO3 Wrapped</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="spacer"></div>
  <h1>About AO3 Wrapped</h1>
  <div class="main-body">
    <p>AO3 Wrapped was inspired by Spotify Wrapped.</p>

    <h2>FAQ</h2>
    <h3>Why does AO3 Wrapped need my password?</h3>
    <p>
      AO3 user reading history pages are hidden unless you are logged in, so 
      the app won't be able to gather data from them without login credentials.
      If you are uncomfortable using your password, using your bookmarks is a 
      password-free way to generate a Wrapped!
    </p>
    <h3>My stats don’t look right! What’s wrong?</h3>
    <p>
      Unfortunately, Archive of Our Own does not have an official public API,
       so AO3 Wrapped uses web scraping to gather reading information. This 
       does mean that reading stats may not be 100% reflective of actual reading
       done (for example, clicking on a work adds it to your history regardless
       of how long you stayed on the page).
    </p>
  </div>

  <div class="spacer"></div>

  <div class="footer">
    <hr class="dotted">
    <p>
      <a href="/">Home</a> | <a href="/about">About</a> | <a href="/privacy-policy">Privacy Policy</a> | <a href="/">GitHub</a>
      <br>
      Made with ♥ by <a href="https://github.com/msavoiu">Madeline Savoiu</a>
    </p>
  </div>
</body>
</html>