<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | AO3 Wrapped</title>
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="body-container">
    <div class="logo-title-container">
      <a href="/">
        <img src="../static/images/logo.png" alt="AO3 Logo" class="logo">
      </a>
    </div>

    <h1>About AO3 Wrapped</h1>
    <p>
      Inspired by Spotify Wrapped, AO3 Wrapped generates user statistics based 
      on your Archive of Our Own profile data. Here’s what AO3 Wrapped can show you:
      <br>
      <i><br>• Total word count of fics read
      <br>• Top ships and fandoms
      <br>• Character that showed up most frequently
      <br>• Most common relationship category
      <br>• Age rating breakdown
      <br>• Word cloud of your most frequent tags
      <br>• The month you read the most <b>(only available for yearly Wrapped)</b></i>
      <br>
      <br>
      <!-- You also have the option to download a CSV(?) file with more detailed data 
      for further viewing. -->
    </p>

    <h1>FAQ</h1>

    <h2>Why does AO3 Wrapped need my password?</h2>
    <p>
      AO3 wrapped cannot access the reading history pages necessary to generate 
      your Wrapped without being logged in to the website. If you would prefer 
      not to log in, you can generate a smaller Wrapped with your public 
      bookmarks instead.
    </p>

    <h2>My stats don’t look right! What’s wrong?</h2>
    <p>
      AO3 Wrapped uses web scraping to gather reading information since Archive of 
      Our Own does not currently have a public API.
      <br>
      <br>
      This means that reading stats may not be 100% reflective of actual reading 
      done on AO3 (for example, clicking on a work adds it to your history 
      regardless of how long you stayed on the page). Your total word count may 
      also be off if you read works written in languages that don’t use spaces, 
      like Chinese and Japanese, because of the way AO3 calculates word counts.
    </p>

    <h2>Can you add this feature?</h2>
    <p>
      Feel free to <a href="mailto:etrangered@gmail.com">email me</a> with any suggestions! I’m always looking for 
      ways to improve AO3 Wrapped. However, I am a full time student who develops 
      and manages this web app on my own, so please be patient with me :)
    </p>
  </div>

  <div class="spacer"></div>

  <div class="footer-container">
    <hr class="dotted">
    <p>
      <a href="/">Home</a> | <a href="/about">About</a> | 
      <a href="https://github.com/msavoiu/ao3-wrapped" target="_blank">GitHub</a>
      <br>
      Made with ♥ by <a href="https://www.linkedin.com/in/savoiu/" target="_blank">Madeline Savoiu</a>
    </p>
  </div>
</body>
</html>