<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmarks Wrapped | AO3 Wrapped</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
  <link rel="stylesheet" href="../static/styles.css">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('submit-username-form');
        const loadingDiv = document.getElementById('loading');

        form.addEventListener('submit', function(event) {
            if (form.checkValidity()) {
                loadingDiv.style.display = 'block';
            } else {
                event.preventDefault();
            }
        });
    });
  </script>
</head>
<body>
  <div class="body-container">
    <div class="logo-title-container">
      <a href="/">
        <img src="../static/images/logo.png" alt="AO3 Logo" class="logo">
      </a>
    </div>

    <div class="login-form">
      <form class="form" method="POST" id="submit-username-form">
        <div class="input-fields">
          <input type="text" placeholder="Username" name="username" class="text-input" required pattern="[a-zA-Z0-9_]{3,40}" oninvalid="this.setCustomValidity('Please enter a valid AO3 username.')" oninput="this.setCustomValidity('')"/><br>

          <div class="break"></div>

          <input type="radio" id="this-year" name="timeframe" value="This year" required>
          <label for="this-year">This year</label>
          <input type="radio" id="all-time" name="timeframe" value="All time" required>
          <label for="all-time">All time</label>
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <input class="button" type="submit" name="submit-credentials" value="Get My Wrapped!">
      </form>
    </div>

    <div id="loading">
      <img src="../static/images/loading.gif" alt="Loading spinner">
      <p>Generating Wrapped...</p>
    </div>
  </div>

  <div class="footer-container">
    <hr class="dotted">
    <p>
      <a href="/">Home</a> | <a href="/about">About</a> | 
      <a href="https://github.com/msavoiu/ao3-wrapped" target="_blank">GitHub</a>
      <br>
      Made with ♥ by <a href="https://www.linkedin.com/in/savoiu/" target="_blank">Madeline Savoiu</a>
    </p>
  </div>
</body>
</html>
