<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles.css">
  <title>AO3 Wrapped</title>
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
</head>
<body>
  <div class="body-container">
    <div class="logo-title-container">
      <a href="/">
        <img src="../static/images/logo.png" alt="AO3 Logo" class="logo">
      </a>
    </div>

    <div class="button-container">
      <a href="history" class="button">History</a>
      <a href="bookmarks" class="button">Bookmarks</a>
    </div>

      <p style="font-size: 14px;">
        <b>Notice:</b>
        <br>
        You'll need to provide your AO3 password if you choose to use your history to create your Wrapped.
        This information will not be shared with anyone.
      </p>
  </div>

  <div class="footer-container">
    <hr class="dotted">
    <p>
      <a href="/">Home</a> | <a href="/about">About</a> | 
      <a href="https://github.com/msavoiu/ao3-wrapped" target="_blank">GitHub</a>
      <br>
      Made with ♥ by <a href="https://www.linkedin.com/in/savoiu/" target="_blank">Madeline Savoiu</a>
    </p>
  </div>
</body>
</html>
