<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AO3 Wrapped</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>
<body>
  <div class="body-container">
    <div class="logo-title-container">
      <a href="/">
        <img src="../static/images/logo.png" alt="AO3 Logo" class="logo">
      </a>
    </div>

    <div class="wrapped-item">
      {% if timeframe == 'This year' %}
        <h2 class="mixed-size">
          This year, you read
          <br>
          <span class="bigger">{{total_fanfic_amount}}</span>
          <br>
          different fanfics.
        </h2>
      {% elif timeframe == 'All time' %}
        <h2 class="mixed-size">
          You've read
          <br>
          <span class="bigger">{{total_fanfic_amount}}</span>
          <br>
          different fanfics.
        </h2>
      {% endif %}
    </div>

    <div class="wrapped-item">
      <h2 class="mixed-size">
        That's a total of
        <br>
        <span class="bigger">{{total_word_count}}</span>
        <br>
        words of fanfiction!
      </h2>
    </div>

    <div class="wrapped-item">
      {% if timeframe == 'All time' %}
      <h2>Your top ships of all time are...</h2> 
      {% elif timeframe == 'This year' %}
      <h2>Your top ships this year were...</h2>
      {% endif %}
      
      <div class="tag-list">
        <ol class="list">
          {% for ship in ships %}
          <li>{{ ship[0] }} ({{ ship[1] }} works)</li>
          {% endfor %}
        </ol>
      </div>
    </div>

    <div class="wrapped-item">
      {% if timeframe == 'All time' %}
        <h2>And your top fandoms of all time are...</h2> 
      {% elif timeframe == 'This year' %}
        <h2>And your top fandoms this year were...</h2>
      {% endif %}

      <ol class="list">
        {% for fandom in fandoms %}
        <li>{{ fandom[0] }} ({{ fandom[1] }} works)</li>
        {% endfor %}
      </ol>
    </div>

    <div class="wrapped-item">
      <h2>And how could we forget your favorite character,
        <br>
        <span class="bigger">{{characters[0][0]}}?</span>
      </h2>
      <p>They showed up in your {{source}} a whopping {{characters[0][1]}} times!</p>
    </div>

    <div class="wrapped-item">
      <h2>But that's not all! Here's some of your favorite tags:</h2>
      <img src="../static/images/wordcloud.png" class="wordcloud" 
      alt="Freeform tags word cloud" style="max-width: 100%">
    </div>

    <div class="wrapped-item">
      <div class="inline-image-icons">
        <h2>Most of the fics you read were rated</h2>
        {% if ratings[0] == 'Explicit' %}
          <img src="../static/images/rating-explicit.png" alt="Explicit">
          <h2> for Explicit,</h2>
        {% elif ratings[0] == 'Mature' %}
          <img src="../static/images/rating-mature.png" alt="Mature">
          <h2> for Mature,</h2>
        {% elif ratings[0] == 'Teen And Up Audiences' %}
          <img src="../static/images/rating-teen.png" alt="Teen">
          <h2> for Teen And Up Audiences,</h2>
        {% elif ratings[0] == 'Teen And Up Audiences' %}
          <img src="../static/images/rating-general-audience.png" alt="General">
          <h2> for General Audiences,</h2>
        {% endif %}

        <h2> and belonged to the</h2>
        {% if categories[0] == 'M/M' %}
          <img src="../static/images/category-slash.png" alt="Slash">
          <h2> M/M category.</h2>
        {% elif categories[0] == 'F/F' %}
          <img src="../static/images/category-femslash.png" alt="Femslash">
          <h2> F/F category.</h2>
        {% elif categories[0] == 'F/M' %}
          <img src="../static/images/category-het.png" alt="Het">
          <h2> F/M category.</h2>
        {% elif categories[0] == 'Gen' %}
          <img src="../static/images/category-gen.png" alt="Gen">
          <h2> Gen category.</h2>
        {% elif categories[0] == 'Other' %}
          <img src="../static/images/category-other.png" alt="Other">
          <h2> Other category.</h2>
        {% endif %}
      </div>

      <div class="pie-charts">
        <canvas id="rating-pie-chart" width="900" height="900"></canvas>
        <canvas id="category-pie-chart" width="900" height="900"></canvas>
      </div>
    </div>

    <div class="wrapped-item">
      {% if timeframe == 'This year' %}
        <h2>And last but not least, you read the most during {{month}}! What a busy month!</h2>
      {% endif %}
    </div>
  </div>

  <div class="footer-container">
    <hr class="dotted">
    <p>
      <a href="/">Home</a> | <a href="/about">About</a> | 
      <a href="https://github.com/msavoiu/ao3-wrapped" target="_blank">GitHub</a>
      <br>
      Made with ♥ by <a href="https://www.linkedin.com/in/savoiu/" target="_blank">Madeline Savoiu</a>
    </p>
  </div>

  <!-- RATING PIE CHART -->
  <script>
    const ratingLabels = {{ ratings | safe }};
    const ratingValues = {{ rating_frequencies | safe }};
    const ratingLabelColorMap = {
      "Explicit": "#990000",
      "Mature": "#e77504",
      "Teen And Up Audiences": "#e8d506",
      "General Audiences": "#8ac001",
      "Not Rated": "#ebebe9"
    };
    
    function getRatingBackgroundColors(labels) {
      return ratingLabels.map(label => ratingLabelColorMap[label] || '#000000');
    }

    const ratingBackgroundColors = getRatingBackgroundColors(ratingLabels);

    console.log(ratingBackgroundColors)
  
    const ratingContext = document.getElementById("rating-pie-chart").getContext("2d");
    var pieChart = new Chart(ratingContext, {
      type: "pie",
      data: 
        {
          labels: ratingLabels,
          datasets: [
            {
              label: "Number of works",
              data: ratingValues,
              backgroundColor: ratingBackgroundColors
            }
          ]
        },
        options: {
          legend: {
            labels: {
              fontColor: "#990000"
            }
          }
        }
    });
  </script>

  <!-- CATEGORY PIE CHART -->
  <script>
    const categoryLabels = {{ categories | safe }};
    const categoryValues = {{ category_frequencies | safe }};
    const categoryLabelColorMap = {
      "F/F": "#db0e2f",
      "M/M": "#0054d3",
      "F/M": "#c42065",
      "Gen": "#8dc401",
      "Multi": "#795533", // picked from the middle of the 4x4
      "Other": "#000000",
      "No category": "#dcdcda"
    };
    
    function getCategoryBackgroundColors(labels) {
      return categoryLabels.map(label => categoryLabelColorMap[label] || '#000000');
    }

    const categoryBackgroundColors = getCategoryBackgroundColors(categoryLabels);
  
    const categoryContext = document.getElementById("category-pie-chart").getContext("2d");
    var pieChart = new Chart(categoryContext, {
      type: "pie",
      data: 
        {
          labels: categoryLabels,
          datasets: [
            {
              label: "Number of works",
              data: categoryValues,
              backgroundColor: categoryBackgroundColors
            }
          ]
        },
        options: {
          legend: {
            labels: {
              fontColor: "#990000"
            }
          }
        }
    });
  </script>
</body>
</html>