<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History Wrapped | AO3 Wrapped</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
</head>
<body>
  <div class="body-container">
      <div class="logo-title-container">
        <a href="/">
          <img src="../static/images/logo.png" alt="AO3 Logo" class="logo">
        </a>
      </div>

    {% if timeframe == 'This year' %}
      <h2>This year, you read {{total_fanfic_amount}} different fanfics.</h2>
      <h2>That's a total of
        <br>
        <b>{{ total_word_count_string }}</b>
        <br>
        words of fanfiction!
      </h2>
    {% elif timeframe == 'All time' %}
      <h2>You've read {{total_fanfic_amount}} different fanfics.</h2>
      <h2>That's a total of
        <br>
        <b>{{ total_word_count_string }}</b>
        <br>
        words of fanfiction!
      </h2>
      {% endif %}

    <!-- https://brokebybooks.com/the-word-count-of-175-favorite-novels/ -->
    <!-- {% if total_word_count > 1842762 %}
      <p>That's more than the entire A Song of Ice and Fire series!</p>

    {% elif total_word_count > 1084170 %}
      <p>That's more than the entire Harry Potter series!</p>

    {% elif total_word_count > 783137 %}
      <p>That's more than the Bible!</p>

    {% elif total_word_count > 576459 %}
      <p>That's more than the entire Lord of the Rings series!</p>
    
    {% elif total_word_count > 530982 %}
      <p>That's more than Les Miserables!</p>

    {% elif total_word_count > 345535 %}
      <p>That's more than the entire Chronicles of Narnia series!</p>

    {% endif %} -->
    
    {% if timeframe == 'All time' %}
    <h2>Your top ships of all time are...</h2> 
    {% elif timeframe == 'This year' %}
    <h2>Your top ships this year were...</h2>
    {% endif %}
    
    <div class="tag-list">
      <ol class="list">
        {% for ship in ships %}
        <li>{{ ship[0] }} ({{ ship[1] }} works)</li>
        {% endfor %}
      </ol>
    </div>

    {% if timeframe == 'All time' %}
      <h2>And your top fandoms of all time are...</h2> 
    {% elif timeframe == 'This year' %}
      <h2>And your top fandoms this year were...</h2>
    {% endif %}

    <ol class="list">
      {% for fandom in fandoms %}
      <li>{{ fandom[0] }} ({{ fandom[1] }} works)</li>
      {% endfor %}
    </ol>


    <h2>But that's not all! Here's some of your favorite tags:</h2>
    <img src="../static/images/wordcloud.png" class="wordcloud" 
    alt="Freeform tags word cloud" style="max-width: 100%">

    <div class="inline-image-icons">
      <h2>Most of the fics you read were rated</h2>
      {% if ratings[0] == 'Explicit' %}
        <img src="../static/images/rating-explicit.png" alt="Explicit">
        <h2> for Explicit,</h2>
      {% elif ratings[0] == 'Mature' %}
        <img src="../static/images/rating-mature.png" alt="Mature">
        <h2> for Mature,</h2>
      {% elif ratings[0] == 'Teen And Up Audiences' %}
        <img src="../static/images/rating-teen.png" alt="Teen">
        <h2> for Teen and Up Audiences,</h2>
      {% elif ratings[0] == 'Teen And Up Audiences' %}
        <img src="../static/images/rating-general-audience.png" alt="General">
        <h2> for General Audiences,</h2>
      {% endif %}

      <h2> and belonged to the</h2>
      {% if categories[0] == 'M/M' %}
        <img src="../static/images/category-slash.png" alt="Slash">
        <h2> M/M category.</h2>
      {% elif categories[0] == 'F/F' %}
        <img src="../static/images/category-femslash.png" alt="Femslash">
        <h2> F/F category.</h2>
      {% elif categories[0] == 'F/M' %}
        <img src="../static/images/category-het.png" alt="Het">
        <h2> F/M category.</h2>
      {% elif categories[0] == 'Gen' %}
        <img src="../static/images/category-gen.png" alt="Gen">
        <h2> Gen category.</h2>
      {% elif categories[0] == 'Other' %}
        <img src="../static/images/category-other.png" alt="Other">
        <h2> Other category.</h2>
      {% endif %}
    </div>

    <canvas id="category-pie-chart" width="900" height="900"></canvas>
    <canvas id="rating-pie-chart" width="900" height="900"></canvas>

    {% if timeframe == 'This year' %}
      <h2>And last but not least, you read the most during {{month}}! What a busy month!</h2>
    {% endif %}
  </div>

  <div class="footer-container">
    <hr class="dotted">
    <p>
      <a href="/">Home</a> | <a href="/about">About</a> | 
      <a href="https://github.com/msavoiu/ao3-wrapped" target="_blank">GitHub</a>
      <br>
      Made with ♥ by <a href="https://www.linkedin.com/in/savoiu/" target="_blank">Madeline Savoiu</a>
    </p>
  </div>

  <!-- CATEGORY PIE CHART -->
  <script>
    const labels = {{ categories | safe }};
    const values = {{ category_frequencies | safe }};
    const labelColorMap = {
      "F/F": "#db0e2f",
      "M/M": "#0054d3",
      "F/M": "#c42065",
      "Gen": "#8dc401",
      "Multi": "#795533", // picked from the middle of the 4x4
      "Other": "#000000",
      "No category": "#dcdcda"
    };
    
    function getBackgroundColors(labels) {
      return labels.map(label => labelColorMap[label] || '#000000');
    }

    const backgroundColors = getBackgroundColors(labels);
  
    const ctx = document.getElementById("category-pie-chart").getContext("2d");
    var pieChart = new Chart(ctx, {
      type: "pie",
      data: 
        {
          labels: labels,
          datasets: [
            {
              label: "Number of works",
              data: values,
              backgroundColor: backgroundColors
            }
          ]
        },
        options: {
          legend: {
            labels: {
              fontColor: "#990000"
            }
          }
        }
    });
  </script>

  <!-- RATING PIE CHART -->
  <script>
    const labels = {{ ratings | safe }};
    const values = {{ rating_frequencies | safe }};
    const labelColorMap = {
      "Explicit": "#990000",
      "Mature": "#e77504",
      "Teen and Up Audiences": "#e8d506",
      "General Audiences": "#8ac001",
      "Not Rated": "#ebebe9"
    };
    
    function getBackgroundColors(labels) {
      return labels.map(label => labelColorMap[label] || '#000000');
    }

    const backgroundColors = getBackgroundColors(labels);
  
    const ctx = document.getElementById("rating-pie-chart").getContext("2d");
    var pieChart = new Chart(ctx, {
      type: "pie",
      data: 
        {
          labels: labels,
          datasets: [
            {
              label: "Number of works",
              data: values,
              backgroundColor: backgroundColors
            }
          ]
        },
        options: {
          legend: {
            labels: {
              fontColor: "#990000"
            }
          }
        }
    });
  </script>
</body>
</html>